{% extends 'flash/base.html' %}
{% block content %}
    {% csrf_token %}
    <div class="form">
        <form>
            <div class="form-group">
                <label for="question">Create Question</label>
                <input type="text" class="form-control" id="question" placeholder="Enter question">
            </div>
            <div class="form-group">
                <label for="answer">Create Answer</label>
                <input type="text" class="form-control" id="answer" placeholder="Enter answer">
            </div>
            <div class="container-c">
                <div class="center mt-3">
                    <button class="btn btn-primary" onClick="create();">Create</button>
                </div>
            </div>
        </form>
    </div><br><br>
    {% if flashcards|length > 0%}
    <div style="text-align:center;" class="mt-3 mb-3">
        <button class="btn btn-primary" onClick="location.href='{% url 'flash-card-home' %}'">Start Studying</button>
    </div>
    {% endif%}
    <div style="text-align: center;">        
        {% for card in flashcards %}
            <div style="display: inline-block !important;">
                <div class="card d-flex justify-content-center align-items-center">
                    <div class="card-inner " style="align-items:center">
                        <div class="card-front">
                            <p>Question</p>
                            <h2 id="question">{{ card.question}}</h2>
                        </div>
                        <div class="card-back">
                            <p>Definition</p>
                            <h2 id="answer">{{ card.answer }}</h2>
                        </div>
                    </div>
                    <p>Current Bin: {{card.current_bin}}</p>
                    <p>Cooldown: {{ card.time_cooldown }} seconds</p>
                    <p>Answered Incorrectly: {{ card.hard_to_remember }}</p>
                    <button class="btn btn-primary mb-2" style="text-align:center;max-width:200px;">Show definition</button>
                </div>
                <button class="btn btn-success mt-2 mb-2" onClick="update({{card.pk}});" style="text-align:center;max-width:200px;">Update</button>
                <button class="btn btn-danger mb-2 mt-2" onClick="del({{card.pk}});">Delete</button>
            </div>
        {% endfor %}
    </div>    
    <script>
        $(document).ready(function() {
            $('.card').click(function() {
                $(this).toggleClass('card-flipped');
            });
        });
        function del(pk){
            $.ajax({
                type: "POST",
                url: '{% url 'card-admin-delete' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'flashcard_id': pk
                },
                success: function() {
                    location.reload();
                }
            });
        }
        function create(){
            if ($('#question').val() == "" || $('#answer').val() == ""){
                alert("Please fill out both fields");
                return;
            }
            $.ajax({
                type: "POST",
                url: '{% url 'card-admin-create' %}',
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'question': $('#question').val(),
                    'answer': $('#answer').val()
                },
                success: function() {
                    location.reload();
                }
            });
        }
        function update(pk){
            // going to make ajax call in the update template
            location.href = "{% url 'card-admin-update' 0 %}".replace('0', pk);
        }
    </script>
{%endblock%}