{% extends 'flash/base.html' %}
{%block content%}
<div class="form">
    <form>
        <h1>Edit Flashcard</h1>
        <div class="form-group">
            <label for="question">Update Word</label>
            <input type="text" class="form-control" id="question" placeholder="Enter new question" value="{{flashcard.question}}">
        </div>
        <div class="form-group">
            <label for="answer">Update Definition</label>
            <input type="text" class="form-control" id="answer" placeholder="Enter new answer" value="{{flashcard.answer}}">
        </div>
        <div class="container-c">
            <div class="center mt-3">
                <button class="btn btn-primary" onClick="update();">Update</button>
            </div>
        </div>
    </form>
    <script>
        function update(){
            console.log("Updating card with question: " + $('#question').val() + " and answer: " + $('#answer').val())
            if ($('#question').val() == "" || $('#answer').val() == ""){
                alert("Please fill out both fields");
                return;
            }
            $.ajax({
                type: "POST",
                url: '{% url 'card-admin-update' 0 %}'.replace('0', '{{flashcard.id}}'),
                data: {
                    'csrfmiddlewaretoken': '{{ csrf_token }}',
                    'question': $('#question').val(),
                    'answer': $('#answer').val()
                },
                success: function () {
                    window.location.href = '{% url 'card-admin' %}';
                }
            });
        }
    </script>
</div><br><br>
{%endblock%}