{% extends 'flash/base.html' %}
{% block content %}
    {% csrf_token %}
    <h1 class="invis"></h1>
    <div id="r1" class="d-flex justify-content-center align-items-center" style="height: 40vh;">
        <div class="card d-flex justify-content-center align-items-center">
            <div class="card-inner " style="align-items:center">
                <div class="card-front">
                    <p>Word</p>
                    <h2 id="question">Question</h2>
                </div>
                <div class="card-back">
                    <p>Definition</p>
                    <h2 id="answer">Answer</h2>
                </div>
            </div>
            <button class="btn btn-primary mb-2" style="text-align:center;max-width:200px;">Show definition</button>
        </div>
    </div>
    <div id="r2" class="container-c">
        <div id="showbtns" class="center">
            <button class="btn btn-danger" onClick="handleNext(false);">I did not get it</button> &nbsp;
            <button class="btn btn-primary" onClick="handleNext(true);">I got it</button>
        </div>
    </div>


    <script>
        // hashmap to map bin to timespan in seconds
        let timespan = {
            '0': 0,
            '1': 5,
            '2': 25,
            '3': 120,
            '4': 600,
            '5': 3600,
            '6': 18000,
            '7': 86400,
            '8': 432000,
            '9': 2160000,
            '10': 10520000,
            '11': 99999999
        }
        const temp = "You are temporarily done; please come back later to review more words.";
        const perm = "You have no more words to review; you are permanently done!";
        var flashcards = JSON.parse('{{ flashcards_json|safe }}');
        var index = 0;
        // renderedAfterTimer ensures that if you leave the page and come back, once the timer ticks down it will render the card
        // only once though, otherwise it will render the card every second
        let renderedAfterTimer = false;
        startTimer();

        function showMessage(message) {
            // getting the h1 element and displaying the message
            let showDone = document.getElementsByClassName('invis')[0];
            showDone.style.display = 'block';
            showDone.innerHTML = message;
            let showCard = document.getElementById('r1');
            showCard.style.visibility = 'hidden';
            let showBtns = document.getElementById('r2');
            showBtns.style.visibility = 'hidden';
        }

        function startTimer() {
            // dynamically decrement cooldowns every second for each flashcard
            // not the quickest solution but it allows for the cooldowns to be updated without refreshing the page
            setInterval(() => {
                for (let i = 0; i < flashcards.length; i++) {
                    const card = flashcards[i];
                    if (card.fields.time_cooldown > 0) {
                        console.log("Decrementing cooldown for card " + card.pk + " seconds: " + card.fields.time_cooldown)
                        card.fields.time_cooldown--;
                    }else{
                        if (renderedAfterTimer === false){
                            renderFlashcard();
                        }
                        renderedAfterTimer = true;
                    }
                }
            }, 1000);
        }

        function handleNext(correct) {
            if (flashcards === undefined){
                showMessage(perm);
                return;
            }
            // sending info about a card
            var c = flashcards[index].fields;
            $.ajax({
                type: 'POST',
                url: '{% url 'flash-card-home' %}',
                data: {
                    csrfmiddlewaretoken: '{{ csrf_token }}',
                    id: flashcards[index].pk,
                    correct: correct,
                    current_bin: c.current_bin,
                },
                success: function(response) {

                },
                error: function(error) {
                    console.log(error);
                }
            });
            
            // this is where we handle the card's bin logic upon answering right or wrong
            if (correct === true) {
                let nextBinIndex = parseInt(c.current_bin) + 1;
                let nextBin = nextBinIndex.toString();
                flashcards[index].fields.time_cooldown = timespan[nextBin];
                flashcards[index].fields.current_bin = nextBin;
                console.log("card id " + flashcards[index].pk + " new bin " + nextBin);
            } else {
                console.log("answered incorrectly")
                c.hard_to_remember++;
                flashcards[index].fields.time_cooldown = 5;
                flashcards[index].fields.current_bin = "1";
            }

            // sorting here allows for the lowest cooldown card to be rendered
            // like a makeshift priority queue
            flashcards.sort(function(a, b) {
                return a.fields.time_cooldown - b.fields.time_cooldown;
            });

            index = 0;
            let timeOut = flashcards[index].fields.time_cooldown;
            if (flashcards[index].fields.current_bin === "11") {
                showMessage(perm);
                return;
            }

            if (flashcards[index].fields.hard_to_remember === 10){
                // check if there are any other cards with a cooldown
                for (let i = 1; i < flashcards.length; i++) {
                    const card = flashcards[i];
                    if (card.fields.time_cooldown > 0) {
                        showMessage(temp);
                        return;
                    }
                }
                showMessage(perm);
                return;
            }

            setTimeout(function() {
                renderFlashcard();
            }, timeOut * 1000);

            showMessage(temp)
        }
        
        function renderFlashcard() {
            console.log("rendering flashcard");
            if (flashcards[index] === undefined){
                showMessage(perm);
                return;
            }
            // at this point, we are only rendering the lowest cooldown card, or the temporary message if that card also has a cooldown
            console.log(flashcards[index].fields)
            if (flashcards[index].fields.time_cooldown > 0 && flashcards[index].fields.current_bin !== "11") {
                showMessage(temp);
            }else if (flashcards[index].fields.current_bin === "11" || flashcards[index].fields.hard_to_remember === 10){
                showMessage(perm);
                return;
            }else{
                // undo the showMessage function
                let showDone = document.getElementsByClassName('invis')[0];
                showDone.style.display = 'none';
                let showCard = document.getElementById('r1');
                showCard.style.visibility = 'visible';
                let showBtns = document.getElementById('r2');
                showBtns.style.visibility = 'visible';
                var c = flashcards[index].fields;
                $('#question').text(c.question);
                $('#answer').text(c.answer);
            }
        }
        
        $(document).ready(function() {
            renderFlashcard();
            $('#showbtns').hide();
            $('#showbtns').click(function() {
                $('#showbtns').fadeToggle();
                $('.card').toggleClass('card-flipped');
            });
            $('.card').click(function() {
                $('#showbtns').fadeToggle();
                $(this).toggleClass('card-flipped');
            });
        });
    </script>
{% endblock %}
